
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body, html {
    height: 135%;
    width:130%;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
   
}

*{
  
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.background {
    background-image: url('https://res.cloudinary.com/enchanting/images/w_1600,h_700,c_fill,f_auto/artemis-mdm/b2b653e6-4f5d-4109-a615-2dec89da0182/hotel-yavapai-lodge-east-usa.jpg');
    background-size: cover;
    background-position: center;
	  flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color:rgba(0, 0, 6, 0.6);
    padding: 0px;
    border-radius: 10px;
    border: 2px solid #333;
    width: 400px; /* Adjusted form width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin */
	color:#fff;
}

label {
    display: block;
    margin: 5px 0 3px; /* Reduced margin */
	color:#fff;
	
}

input, textarea {
    width: 100%;
    padding: 6px; /* Reduced padding */
    margin-bottom: 20px; /* Reduced margin */
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
	width: 100%;
    padding: 6px; /* Reduced padding */
    margin-bottom: 8px; /* Reduced margin */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%; /* Full width buttons */
    padding: 10px; /* Reduced padding */
    margin-top: 8px; /* Reduced margin */
    border: white-space;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.checkbox-group, .radio-group {
    margin-bottom: 10px; /* Reduced margin */
	display: flex;
}

.checkbox-group label, .radio-group label {
    display:block;
    margin: 10px 0; /* Reduced margin */
	align-items: center;
}

.checkbox-group input[type="checkbox"], .radio-group input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); /* Adjust the size of the checkboxes and radio buttons */
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
}

nav {
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

table{
  color:white;
  background-color: #0c0c0d;
 
}


table.list {
  text-align:start;
  width: 100%;
}

td {
  
  text-align: left;
  padding: 50px 15px;
  border: 3px solid #36226D;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Add these styles to your form.css file or within a <style> tag */

.edit-btn {
  color: blue; /* Green color */
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f0f0f0; /* Light gray background */
}

.edit-btn:hover {
  background-color: #e0e0e0; /* Darker gray background on hover */
  color: blue; /* Darker green on hover */
}

.delete-btn {
  color:blue; /* Red color */
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #f0f0f0; /* Light gray background */
}

.delete-btn:hover {
  background-color: #e0e0e0; /* Darker gray background on hover */
  color: blue; /* Darker red on hover */
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
@media (max-width: 420px) {
  .nav ul .form-container{
    display: none;
  }
}