@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {

  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 48px;
  background: #3a3a3b;
  padding: 3px 8px;
  z-index: 39;
  /* transition: all 0.5s ease; */
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: left;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://thumbs.dreamstime.com/b/asian-food-background-various-cooking-ingredients-rustic-background-top-view-banner-concept-chinese-thai-66582124.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-left: 70px; 
}

header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(187, 18, 18);
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: red;
}

nav li {
  margin: 0 15px;

}

nav a {
  color: white;
  text-decoration: none;

}

section {
  padding: 2rem;
  text-align: center;
  color: white;
}

.menu-section {
  margin-bottom: 2rem;
  color: black;
}

.menu-section h2 {
  border-bottom: 2px solid #333;
  display: inline-block;
  margin-bottom: 1rem;
  color: white;
}

.food-grid {
  margin-left: 100px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.food-item {
  background-color: #cccc99;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.food-item img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.food-item:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-item h3 {
  margin: 0 0 0.5rem 0;
}

.price {
  color: #006600;
  font-weight: bold;
  margin-top: 0.5rem;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.gallery img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.details {
  margin-top: 20px;
}

.details p {
  margin: 5px 0;
  margin: 5px 0;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  font-size: 1.2em;

}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.2rem 0;
  position: fixed;
  width: 50%;
  bottom: 0;
}


table {
  width: 80%;
  margin: 40px auto;
  background: #af9e6e;
  font-size: 14px;
  z-index: 130;
  border: 3px solid #36226D;
  /* margin-left: 50px;  */
}

table.list {
  text-align: center;
  width: 100%;
}

td {
  border: 3px solid #36226D;
  text-align: center;
  padding: 8px 15px;

}

tr:nth-child(even),
table.list thread>tr {
  background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="number"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(165, 161, 161);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  background: #ba986e;
}

input[type="reset"]:hover {
  background: #E23025;
}

button {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #BF6685;
}